<a href="https://colab.research.google.com/github/1rdas/AirBnB-Data-Analysis/blob/main/AirBnB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [62]:
import pandas as pd
import numpy as np

In [98]:
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
%matplotlib inline
import seaborn as sns

In [63]:
file_path = '/content/drive/MyDrive/AlmaBetter/Python/AirBnB Bookings Analysis/Airbnb NYC 2019.csv'
bnb_df = pd.read_csv(file_path)

*

In [64]:
bnb_df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

**Categorical unique values :**

In [66]:
bnb_df['neighbourhood_group'].unique()

array(['Brooklyn', 'Manhattan', 'Queens', 'Staten Island', 'Bronx'],
      dtype=object)

In [67]:
bnb_df.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

In [70]:
bnb_df['neighbourhood'].value_counts()

Williamsburg          3920
Bedford-Stuyvesant    3714
Harlem                2658
Bushwick              2465
Upper West Side       1971
                      ...
Fort Wadsworth           1
New Dorp                 1
Rossville                1
Richmondtown             1
Willowbrook              1
Name: neighbourhood, Length: 221, dtype: int64

In [71]:
len(bnb_df['neighbourhood'].unique())

221

In [72]:
bnb_df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [74]:
bnb_df['room_type'].unique()

array(['Private room', 'Entire home/apt', 'Shared room'], dtype=object)

**Top 10 hosts in the df**

In [87]:
top_host_df = bnb_df['host_id'].value_counts()

In [89]:
top_host_df.head(10)

219517861    327
107434423    232
30283594     121
137358866    103
12243051      96
16098958      96
61391963      91
22541573      87
200380610     65
7503643       52
Name: host_id, dtype: int64

In [90]:
top_hosts = pd.DataFrame(top_host_df)

In [92]:
top_hosts.reset_index(inplace=True)

In [96]:
top_hosts.rename(columns={'index':'host_id','host_id':'hosting_counts'}, inplace=True)

In [97]:
top_hosts.head(10)

     host_id  hosting_counts
0  219517861             327
1  107434423             232
2   30283594             121
3  137358866             103
4   12243051              96
5   16098958              96
6   61391963              91
7   22541573              87
8  200380610              65
9    7503643              52

**Visualization**

In [ ]:
host_count = sns.barplot(x='host_id',y='hosting_counts', data=top_hosts, palette='Blues_d')
host_count.set_title('Top Hosts vs their listings')
host_count.set_xlabel('HOST ID')
host_count.set_ylabel('HOSTING COUNTS')
host_count.set_xticklabels(host_count.get_xticklabels(), rotation=45)

[Text(0, 0, '2438'),
 Text(0, 0, '2571'),
 Text(0, 0, '2787'),
 Text(0, 0, '2845'),
 Text(0, 0, '2868'),
 Text(0, 0, '2881'),
 Text(0, 0, '3151'),
 Text(0, 0, '3211'),
 Text(0, 0, '3415'),
 Text(0, 0, '3563'),
 Text(0, 0, '3647'),
 Text(0, 0, '3867'),
 Text(0, 0, '4396'),
 Text(0, 0, '4632'),
 Text(0, 0, '4869'),
 Text(0, 0, '5089'),
 Text(0, 0, '6041'),
 Text(0, 0, '6485'),
 Text(0, 0, '7192'),
 Text(0, 0, '7209'),
 Text(0, 0, '7310'),
 Text(0, 0, '7322'),
 Text(0, 0, '7351'),
 Text(0, 0, '7355'),
 Text(0, 0, '7356'),
 Text(0, 0, '7490'),
 Text(0, 0, '7500'),
 Text(0, 0, '7549'),
 Text(0, 0, '7702'),
 Text(0, 0, '7989'),
 Text(0, 0, '8198'),
 Text(0, 0, '8425'),
 Text(0, 0, '8440'),
 Text(0, 0, '8605'),
 Text(0, 0, '8703'),
 Text(0, 0, '8730'),
 Text(0, 0, '8967'),
 Text(0, 0, '9744'),
 Text(0, 0, '10135'),
 Text(0, 0, '10528'),
 Text(0, 0, '10889'),
 Text(0, 0, '11175'),
 Text(0, 0, '11481'),
 Text(0, 0, '11528'),
 Text(0, 0, '11975'),
 Text(0, 0, '12220'),
 Text(0, 0, '12221'),
 Text(0, 0, '14063'),
 Text(0, 0, '14356'),
 Text(0, 0, '14370'),
 Text(0, 0, '14444'),
 Text(0, 0, '14751'),
 Text(0, 0, '15154'),
 Text(0, 0, '15192'),
 Text(0, 0, '15387'),
 Text(0, 0, '15523'),
 Text(0, 0, '15574'),
 Text(0, 0, '15742'),
 Text(0, 0, '15784'),
 Text(0, 0, '15977'),
 Text(0, 0, '15991'),
 Text(0, 0, '16800'),
 Text(0, 0, '16866'),
 Text(0, 0, '17571'),
 Text(0, 0, '17930'),
 Text(0, 0, '17985'),
 Text(0, 0, '18174'),
 Text(0, 0, '18282'),
 Text(0, 0, '18283'),
 Text(0, 0, '18742'),
 Text(0, 0, '18946'),
 Text(0, 0, '19342'),
 Text(0, 0, '19402'),
 Text(0, 0, '19562'),
 Text(0, 0, '20805'),
 Text(0, 0, '20950'),
 Text(0, 0, '21188'),
 Text(0, 0, '21207'),
 Text(0, 0, '21248'),
 Text(0, 0, '21306'),
 Text(0, 0, '21475'),
 Text(0, 0, '21823'),
 Text(0, 0, '21904'),
 Text(0, 0, '22188'),
 Text(0, 0, '22323'),
 Text(0, 0, '22462'),
 Text(0, 0, '22486'),
 Text(0, 0, '23193'),
 Text(0, 0, '23276'),
 Text(0, 0, '23619'),
 Text(0, 0, '23633'),
 Text(0, 0, '23684'),
 Text(0, 0, '24069'),
 Text(0, 0, '24222'),
 Text(0, 0, '24347'),
 Text(0, 0, '25100'),
 Text(0, 0, '25183'),
 Text(0, 0, '25326'),
 Text(0, 0, '25459'),
 Text(0, 0, '25632'),
 Text(0, 0, '25810'),
 Text(0, 0, '26394'),
 Text(0, 0, '26640'),
 Text(0, 0, '27245'),
 Text(0, 0, '27848'),
 Text(0, 0, '28250'),
 Text(0, 0, '28336'),
 Text(0, 0, '28422'),
 Text(0, 0, '28573'),
 Text(0, 0, '29096'),
 Text(0, 0, '29213'),
 Text(0, 0, '29506'),
 Text(0, 0, '30193'),
 Text(0, 0, '30529'),
 Text(0, 0, '31374'),
 Text(0, 0, '31378'),
 Text(0, 0, '31994'),
 Text(0, 0, '32045'),
 Text(0, 0, '32169'),
 Text(0, 0, '32228'),
 Text(0, 0, '32294'),
 Text(0, 0, '32704'),
 Text(0, 0, '32800'),
 Text(0, 0, '33009'),
 Text(0, 0, '33510'),
 Text(0, 0, '33655'),
 Text(0, 0, '33816'),
 Text(0, 0, '34331'),
 Text(0, 0, '34915'),
 Text(0, 0, '35375'),
 Text(0, 0, '35935'),
 Text(0, 0, '35944'),
 Text(0, 0, '36119'),
 Text(0, 0, '36841'),
 Text(0, 0, '36897'),
 Text(0, 0, '37413'),
 Text(0, 0, '37879'),
 Text(0, 0, '38513'),
 Text(0, 0, '39260'),
 Text(0, 0, '39304'),
 Text(0, 0, '39322'),
 Text(0, 0, '40100'),
 Text(0, 0, '40275'),
 Text(0, 0, '40502'),
 Text(0, 0, '41358'),
 Text(0, 0, '41612'),
 Text(0, 0, '42032'),
 Text(0, 0, '42273'),
 Text(0, 0, '42761'),
 Text(0, 0, '43321'),
 Text(0, 0, '43671'),
 Text(0, 0, '43772'),
 Text(0, 0, '44145'),
 Text(0, 0, '44263'),
 Text(0, 0, '45009'),
 Text(0, 0, '45384'),
 Text(0, 0, '45445'),
 Text(0, 0, '45609'),
 Text(0, 0, '45682'),
 Text(0, 0, '46719'),
 Text(0, 0, '46969'),
 Text(0, 0, '46978'),
 Text(0, 0, '47459'),
 Text(0, 0, '47532'),
 Text(0, 0, '47610'),
 Text(0, 0, '47618'),
 Text(0, 0, '47727'),
 Text(0, 0, '48165'),
 Text(0, 0, '48581'),
 Text(0, 0, '48599'),
 Text(0, 0, '49405'),
 Text(0, 0, '49670'),
 Text(0, 0, '49966'),
 Text(0, 0, '49987'),
 Text(0, 0, '50124'),
 Text(0, 0, '50148'),
 Text(0, 0, '50846'),
 Text(0, 0, '50912'),
 Text(0, 0, '51038'),
 Text(0, 0, '51414'),
 Text(0, 0, '52043'),
 Text(0, 0, '52335'),
 Text(0, 0, '52394'),
 Text(0, 0, '52615'),
 Text(0, 0, '52826'),
 Text(0, 0, '53621'),
 Text(0, 0, '54042'),
 Text(0, 0, '54241'),
 Text(0, 0, '54255'),
 Text(0, 0, '54275'),
 Text(0, 0, '54712'),
 Text(0, 0, '54739'),
 Text(0, 0, '55021'),
 Text(0, 0, '55121'),
 Text(0, 0, '55176'),
 Text(0, 0, '55289'),
 Text(0, 0, '55480'),
 Text(0, 0, '56094'),
 Text(0, 0, '56104'),
 Text(0, 0, '56246'),
 Text(0, 0, '56284'),
 Text(0, 0, '56326'),
 Text(0, 0, '56350'),
 Text(0, 0, '56512'),
 Text(0, 0, '56793'),
 Text(0, 0, '56909'),
 Text(0, 0, '56920'),
 Text(0, 0, '57013'),
 Text(0, 0, '57059'),
 Text(0, 0, '57101'),
 Text(0, 0, '57994'),
 Text(0, 0, '58225'),
 Text(0, 0, '58366'),
 Text(0, 0, '58483'),
 Text(0, 0, '58546'),
 Text(0, 0, '59023'),
 Text(0, 0, '59185'),
 Text(0, 0, '59358'),
 Text(0, 0, '59734'),
 Text(0, 0, '60046'),
 Text(0, 0, '60049'),
 Text(0, 0, '60252'),
 Text(0, 0, '60278'),
 Text(0, 0, '60787'),
 Text(0, 0, '61042'),
 Text(0, 0, '61463'),
 Text(0, 0, '61491'),
 Text(0, 0, '61873'),
 Text(0, 0, '62001'),
 Text(0, 0, '62165'),
 Text(0, 0, '62316'),
 Text(0, 0, '62345'),
 Text(0, 0, '62407'),
 Text(0, 0, '62508'),
 Text(0, 0, '62583'),
 Text(0, 0, '62734'),
 Text(0, 0, '62745'),
 Text(0, 0, '62791'),
 Text(0, 0, '62803'),
 Text(0, 0, '62855'),
 Text(0, 0, '63043'),
 Text(0, 0, '63318'),
 Text(0, 0, '63588'),
 Text(0, 0, '63607'),
 Text(0, 0, '63613'),
 Text(0, 0, '63924'),
 Text(0, 0, '64056'),
 Text(0, 0, '64442'),
 Text(0, 0, '64522'),
 Text(0, 0, '65064'),
 Text(0, 0, '65091'),
 Text(0, 0, '65591'),
 Text(0, 0, '65610'),
 Text(0, 0, '65804'),
 Text(0, 0, '65837'),
 Text(0, 0, '66035'),
 Text(0, 0, '66127'),
 Text(0, 0, '66193'),
 Text(0, 0, '66243'),
 Text(0, 0, '66276'),
 Text(0, 0, '66286'),
 Text(0, 0, '66329'),
 Text(0, 0, '66354'),
 Text(0, 0, '66361'),
 Text(0, 0, '67180'),
 Text(0, 0, '67523'),
 Text(0, 0, '67778'),
 Text(0, 0, '68428'),
 Text(0, 0, '68599'),
 Text(0, 0, '68890'),
 Text(0, 0, '69439'),
 Text(0, 0, '69510'),
 Text(0, 0, '69527'),
 Text(0, 0, '69685'),
 Text(0, 0, '69767'),
 Text(0, 0, '69829'),
 Text(0, 0, '69942'),
 Text(0, 0, '70091'),
 Text(0, 0, '70234'),
 Text(0, 0, '70614'),
 Text(0, 0, '70834'),
 Text(0, 0, '71418'),
 Text(0, 0, '71512'),
 Text(0, 0, '71876'),
 Text(0, 0, '72014'),
 Text(0, 0, '72062'),
 Text(0, 0, '72747'),
 Text(0, 0, '72773'),
 Text(0, 0, '73051'),
 Text(0, 0, '73128'),
 Text(0, 0, '73469'),
 Text(0, 0, '73549'),
 Text(0, 0, '73885'),
 Text(0, 0, '74303'),
 Text(0, 0, '74777'),
 Text(0, 0, '74857'),
 Text(0, 0, '75109'),
 Text(0, 0, '75815'),
 Text(0, 0, '75857'),
 Text(0, 0, '76627'),
 Text(0, 0, '77515'),
 Text(0, 0, '78251'),
 Text(0, 0, '78258'),
 Text(0, 0, '78460'),
 Text(0, 0, '78742'),
 Text(0, 0, '79070'),
 Text(0, 0, '79339'),
 Text(0, 0, '79402'),
 Text(0, 0, '80379'),
 Text(0, 0, '80447'),
 Text(0, 0, '81287'),
 Text(0, 0, '81335'),
 Text(0, 0, '81928'),
 Text(0, 0, '81937'),
 Text(0, 0, '82286'),
 Text(0, 0, '82685'),
 Text(0, 0, '82896'),
 Text(0, 0, '82930'),
 Text(0, 0, '83257'),
 Text(0, 0, '83637'),
 Text(0, 0, '83834'),
 Text(0, 0, '84320'),
 Text(0, 0, '84529'),
 Text(0, 0, '84557'),
 Text(0, 0, '85330'),
 Text(0, 0, '86325'),
 Text(0, 0, '87105'),
 Text(0, 0, '87266'),
 Text(0, 0, '87328'),
 Text(0, 0, '87473'),
 Text(0, 0, '87494'),
 Text(0, 0, '87601'),
 Text(0, 0, '87773'),
 Text(0, 0, '87988'),
 Text(0, 0, '88032'),
 Text(0, 0, '88191'),
 Text(0, 0, '88209'),
 Text(0, 0, '88260'),
 Text(0, 0, '90316'),
 Text(0, 0, '90860'),
 Text(0, 0, '92272'),
 Text(0, 0, '92342'),
 Text(0, 0, '92411'),
 Text(0, 0, '92436'),
 Text(0, 0, '92451'),
 Text(0, 0, '92782'),
 Text(0, 0, '92788'),
 Text(0, 0, '93263'),
 Text(0, 0, '93292'),
 Text(0, 0, '93779'),
 Text(0, 0, '93781'),
 Text(0, 0, '93790'),
 Text(0, 0, '94669'),
 Text(0, 0, '94946'),
 Text(0, 0, '95786'),
 Text(0, 0, '96019'),
 Text(0, 0, '96598'),
 Text(0, 0, '96755'),
 Text(0, 0, '97219'),
 Text(0, 0, '97425'),
 Text(0, 0, '97580'),
 Text(0, 0, '97797'),
 Text(0, 0, '97825'),
 Text(0, 0, '98014'),
 Text(0, 0, '98272'),
 Text(0, 0, '98976'),
 Text(0, 0, '99212'),
 Text(0, 0, '100288'),
 Text(0, 0, '100718'),
 Text(0, 0, '100806'),
 Text(0, 0, '101597'),
 Text(0, 0, '101924'),
 Text(0, 0, '102525'),
 Text(0, 0, '103640'),
 Text(0, 0, '103960'),
 Text(0, 0, '104250'),
 Text(0, 0, '104458'),
 Text(0, 0, '105159'),
 Text(0, 0, '105538'),
 Text(0, 0, '106125'),
 Text(0, 0, '106627'),
 Text(0, 0, '107016'),
 Text(0, 0, '107156'),
 Text(0, 0, '107340'),
 Text(0, 0, '107628'),
 Text(0, 0, '107675'),
 Text(0, 0, '109505'),
 Text(0, 0, '109589'),
 Text(0, 0, '109738'),
 Text(0, 0, '109879'),
 Text(0, 0, '109981'),
 Text(0, 0, '110026'),
 Text(0, 0, '110506'),
 Text(0, 0, '110930'),
 Text(0, 0, '110958'),
 Text(0, 0, '111466'),
 Text(0, 0, '111723'),
 Text(0, 0, '111837'),
 Text(0, 0, '112793'),
 Text(0, 0, '112879'),
 Text(0, 0, '114574'),
 Text(0, 0, '114590'),
 Text(0, 0, '114649'),
 Text(0, 0, '115157'),
 Text(0, 0, '115256'),
 Text(0, 0, '115307'),
 Text(0, 0, '115560'),
 Text(0, 0, '115669'),
 Text(0, 0, '116382'),
 Text(0, 0, '116599'),
 Text(0, 0, '117236'),
 Text(0, 0, '117287'),
 Text(0, 0, '117949'),
 Text(0, 0, '118126'),
 Text(0, 0, '118971'),
 Text(0, 0, '119273'),
 Text(0, 0, '119441'),
 Text(0, 0, '119445'),
 Text(0, 0, '119510'),
 Text(0, 0, '119588'),
 Text(0, 0, '119900'),
 Text(0, 0, '119911'),
 Text(0, 0, '120223'),
 Text(0, 0, '120291'),
 Text(0, 0, '120335'),
 Text(0, 0, '120623'),
 Text(0, 0, '120847'),
 Text(0, 0, '121274'),
 Text(0, 0, '122975'),
 Text(0, 0, '123713'),
 Text(0, 0, '124171'),
 Text(0, 0, '124345'),
 Text(0, 0, '124352'),
 Text(0, 0, '124357'),
 Text(0, 0, '124797'),
 Text(0, 0, '124866'),
 Text(0, 0, '125857'),
 Text(0, 0, '126607'),
 Text(0, 0, '126718'),
 Text(0, 0, '127292'),
 Text(0, 0, '127560'),
 Text(0, 0, '127608'),
 Text(0, 0, '127767'),
 Text(0, 0, '127772'),
 Text(0, 0, '128256'),
 Text(0, 0, '128431'),
 Text(0, 0, '128447'),
 Text(0, 0, '128480'),
 Text(0, 0, '128663'),
 Text(0, 0, '128766'),
 Text(0, 0, '128890'),
 Text(0, 0, '128920'),
 Text(0, 0, '129352'),
 Text(0, 0, '129558'),
 Text(0, 0, '130023'),
 Text(0, 0, '130216'),
 Text(0, 0, '130279'),
 Text(0, 0, '130675'),
 Text(0, 0, '130804'),
 Text(0, 0, '130901'),
 Text(0, 0, '131014'),
 Text(0, 0, '131659'),
 Text(0, 0, '132132'),
 Text(0, 0, '132244'),
 Text(0, 0, '134355'),
 Text(0, 0, '134516'),
 Text(0, 0, '134936'),
 Text(0, 0, '135018'),
 Text(0, 0, '135619'),
 Text(0, 0, '136227'),
 Text(0, 0, '136352'),
 Text(0, 0, '136962'),
 Text(0, 0, '137292'),
 Text(0, 0, '137432'),
 Text(0, 0, '137814'),
 Text(0, 0, '137974'),
 Text(0, 0, '138069'),
 Text(0, 0, '138243'),
 Text(0, 0, '138579'),
 Text(0, 0, '139135'),
 Text(0, 0, '139311'),
 Text(0, 0, '139573'),
 Text(0, 0, '139612'),
 Text(0, 0, '139874'),
 Text(0, 0, '140025'),
 Text(0, 0, '140173'),
 Text(0, 0, '140226'),
 Text(0, 0, '140272'),
 Text(0, 0, '140817'),
 Text(0, 0, '141300'),
 Text(0, 0, '141914'),
 Text(0, 0, '141933'),
 Text(0, 0, '142053'),
 Text(0, 0, '142147'),
 Text(0, 0, '142684'),
 Text(0, 0, '142695'),
 Text(0, 0, '142833'),
 Text(0, 0, '143027'),
 Text(0, 0, '143048'),
 Text(0, 0, '143460'),
 Text(0, 0, '143589'),
 Text(0, 0, '144705'),
 Text(0, 0, '145021'),
 Text(0, 0, '145609'),
 Text(0, 0, '145616'),
 Text(0, 0, '145967'),
 Text(0, 0, '146825'),
 Text(0, 0, '146944'),
 Text(0, 0, '147388'),
 Text(0, 0, '147513'),
 Text(0, 0, '148108'),
 Text(0, 0, '148545'),
 Text(0, 0, '149047'),
 Text(0, 0, '149430'),
 Text(0, 0, '149833'),
 Text(0, 0, '149868'),
 Text(0, 0, '149929'),
 Text(0, 0, '150832'),
 Text(0, 0, '151654'),
 Text(0, 0, '153494'),
 Text(0, 0, '153675'),
 Text(0, 0, '153817'),
 Text(0, 0, '154866'),
 Text(0, 0, '154956'),
 Text(0, 0, '155163'),
 Text(0, 0, '155627'),
 Text(0, 0, '155689'),
 Text(0, 0, '156935'),
 Text(0, 0, '156959'),
 Text(0, 0, '157051'),
 Text(0, 0, '157241'),
 Text(0, 0, '157795'),
 Text(0, 0, '157798'),
 Text(0, 0, '158284'),
 Text(0, 0, '158694'),
 Text(0, 0, '158739'),
 Text(0, 0, '159011'),
 Text(0, 0, '159370'),
 Text(0, 0, '159726'),
 Text(0, 0, '159780'),
 Text(0, 0, '159936'),
 Text(0, 0, '160139'),
 Text(0, 0, '160337'),
 Text(0, 0, '160356'),
 Text(0, 0, '160565'),
 Text(0, 0, '160956'),
 Text(0, 0, '164534'),
 Text(0, 0, '164675'),
 Text(0, 0, '164781'),
 Text(0, 0, '165566'),
 Text(0, 0, '165789'),
 Text(0, 0, '166014'),
 Text(0, 0, '166634'),
 Text(0, 0, '167417'),
 Text(0, 0, '167796'),
 Text(0, 0, '168417'),
 Text(0, 0, '168525'),
 Text(0, 0, '169653'),
 Text(0, 0, '169843'),
 Text(0, 0, '169927'),
 Text(0, 0, '170094'),
 Text(0, 0, '170510'),
 Text(0, 0, '170553'),
 Text(0, 0, '171213'),
 Text(0, 0, '171250'),
 Text(0, 0, '171653'),
 Text(0, 0, '171851'),
 Text(0, 0, '172672'),
 Text(0, 0, '172741'),
 Text(0, 0, '173009'),
 Text(0, 0, '173218'),
 Text(0, 0, '173938'),
 Text(0, 0, '173980'),
 Text(0, 0, '173997'),
 Text(0, 0, '174025'),
 Text(0, 0, '174570'),
 Text(0, 0, '175408'),
 Text(0, 0, '175413'),
 Text(0, 0, '175694'),
 Text(0, 0, '176285'),
 Text(0, 0, '176332'),
 Text(0, 0, '176836'),
 Text(0, 0, '176903'),
 Text(0, 0, '177233'),
 Text(0, 0, '177293'),
 Text(0, 0, '177536'),
 Text(0, 0, '177712'),
 Text(0, 0, '177724'),
 Text(0, 0, '177846'),
 Text(0, 0, '177922'),
 Text(0, 0, '178043'),
 Text(0, 0, '178551'),
 Text(0, 0, '178784'),
 Text(0, 0, '179020'),
 Text(0, 0, '179246'),
 Text(0, 0, '179296'),
 Text(0, 0, '179679'),
 Text(0, 0, '180083'),
 Text(0, 0, '180416'),
 Text(0, 0, '181143'),
 Text(0, 0, '181167'),
 Text(0, 0, '181201'),
 Text(0, 0, '181376'),
 Text(0, 0, '181756'),
 Text(0, 0, '182226'),
 Text(0, 0, '182461'),
 Text(0, 0, '182477'),
 Text(0, 0, '182670'),
 Text(0, 0, '182709'),
 Text(0, 0, '183151'),
 Text(0, 0, '183504'),
 Text(0, 0, '183594'),
 Text(0, 0, '184110'),
 Text(0, 0, '184833'),
 Text(0, 0, '184883'),
 Text(0, 0, '184913'),
 Text(0, 0, '185212'),
 Text(0, 0, '185394'),
 Text(0, 0, '185745'),
 Text(0, 0, '185753'),
 Text(0, 0, '185847'),
 Text(0, 0, '185978'),
 Text(0, 0, '186084'),
 Text(0, 0, '186888'),
 Text(0, 0, '187912'),
 Text(0, 0, '188896'),
 Text(0, 0, '189275'),
 Text(0, 0, '190239'),
 Text(0, 0, '190409'),
 Text(0, 0, '191324'),
 Text(0, 0, '191800'),
 Text(0, 0, '192349'),
 Text(0, 0, '192750'),
 Text(0, 0, '192752'),
 Text(0, 0, '192852'),
 Text(0, 0, '193360'),
 Text(0, 0, '193488'),
 Text(0, 0, '193637'),
 Text(0, 0, '193709'),
 Text(0, 0, '193722'),
 Text(0, 0, '194918'),
 Text(0, 0, '194994'),
 Text(0, 0, '195137'),
 Text(0, 0, '195168'),
 Text(0, 0, '195783'),
 Text(0, 0, '195803'),
 Text(0, 0, '195932'),
 Text(0, 0, '196298'),
 Text(0, 0, '196890'),
 Text(0, 0, '197156'),
 Text(0, 0, '197286'),
 Text(0, 0, '197755'),
 Text(0, 0, '198010'),
 Text(0, 0, '198387'),
 Text(0, 0, '198538'),
 Text(0, 0, '199392'),
 Text(0, 0, '200060'),
 Text(0, 0, '200243'),
 Text(0, 0, '200675'),
 Text(0, 0, '200782'),
 Text(0, 0, '201232'),
 Text(0, 0, '201297'),
 Text(0, 0, '201390'),
 Text(0, 0, '201735'),
 Text(0, 0, '202211'),
 Text(0, 0, '202249'),
 Text(0, 0, '202285'),
 Text(0, 0, '202362'),
 Text(0, 0, '202507'),
 Text(0, 0, '202665'),
 Text(0, 0, '203039'),
 Text(0, 0, '204472'),
 Text(0, 0, '204539'),
 Text(0, 0, '204724'),
 Text(0, 0, '205055'),
 Text(0, 0, '205285'),
 Text(0, 0, '205909'),
 Text(0, 0, '206115'),
 Text(0, 0, '206337'),
 Text(0, 0, '207124'),
 Text(0, 0, '207356'),
 Text(0, 0, '208410'),
 Text(0, 0, '208565'),
 Text(0, 0, '209073'),
 Text(0, 0, '209300'),
 Text(0, 0, '209460'),
 Text(0, 0, '209647'),
 Text(0, 0, '210602'),
 Text(0, 0, '210746'),
 Text(0, 0, '211877'),
 Text(0, 0, '212420'),
 Text(0, 0, '212572'),
 Text(0, 0, '212722'),
 Text(0, 0, '212738'),
 Text(0, 0, '212865'),
 Text(0, 0, '213020'),
 Text(0, 0, '213266'),
 Text(0, 0, '214148'),
 Text(0, 0, '214287'),
 Text(0, 0, '214794'),
 Text(0, 0, '215570'),
 Text(0, 0, '215764'),
 Text(0, 0, '216191'),
 Text(0, 0, '216227'),
 Text(0, 0, '217922'),
 Text(0, 0, '218404'),
 Text(0, 0, '218425'),
 Text(0, 0, '219313'),
 Text(0, 0, '219320'),
 Text(0, 0, '219970'),
 Text(0, 0, '221266'),
 Text(0, 0, '221873'),
 Text(0, 0, '224009'),
 Text(0, 0, '224150'),
 Text(0, 0, '226563'),
 Text(0, 0, '226697'),
 Text(0, 0, '227163'),
 Text(0, 0, '227369'),
 Text(0, 0, '227908'),
 Text(0, 0, '228012'),
 Text(0, 0, '228252'),
 Text(0, 0, '228583'),
 Text(0, 0, '228858'),
 Text(0, 0, '229109'),
 Text(0, 0, '230856'),
 Text(0, 0, '231704'),
 Text(0, 0, '232410'),
 Text(0, 0, '233161'),
 Text(0, 0, '234918'),
 Text(0, 0, '236421'),
 Text(0, 0, '236655'),
 Text(0, 0, '236659'),
 Text(0, 0, '237329'),
 Text(0, 0, '237477'),
 Text(0, 0, '238354'),
 Text(0, 0, '239208'),
 Text(0, 0, '239829'),
 Text(0, 0, '240048'),
 Text(0, 0, '240360'),
 Text(0, 0, '240427'),
 Text(0, 0, '240471'),
 Text(0, 0, '240584'),
 Text(0, 0, '240740'),
 Text(0, 0, '241395'),
 Text(0, 0, '241559'),
 Text(0, 0, '241593'),
 Text(0, 0, '242506'),
 Text(0, 0, '243321'),
 Text(0, 0, '243427'),
 Text(0, 0, '244071'),
 Text(0, 0, '244444'),
 Text(0, 0, '245881'),
 Text(0, 0, '246710'),
 Text(0, 0, '247432'),
 Text(0, 0, '248490'),
 Text(0, 0, '248739'),
 Text(0, 0, '248865'),
 Text(0, 0, '249006'),
 Text(0, 0, '249372'),
 Text(0, 0, '249753'),
 Text(0, 0, '251176'),
 Text(0, 0, '251842'),
 Text(0, 0, '252059'),
 Text(0, 0, '252121'),
 Text(0, 0, '252361'),
 Text(0, 0, '252365'),
 Text(0, 0, '253057'),
 Text(0, 0, '253385'),
 Text(0, 0, '253533'),
 Text(0, 0, '254650'),
 Text(0, 0, '254846'),
 Text(0, 0, '254860'),
 Text(0, 0, '255583'),
 Text(0, 0, '255597'),
 Text(0, 0, '256161'),
 Text(0, 0, '256239'),
 Text(0, 0, '257479'),
 Text(0, 0, '257676'),
 Text(0, 0, '257904'),
 Text(0, 0, '258023'),
 Text(0, 0, '258164'),
 Text(0, 0, '258409'),
 Text(0, 0, '258674'),
 Text(0, 0, '259123'),
 Text(0, 0, '259240'),
 Text(0, 0, '259826'),
 Text(0, 0, '260709'),
 Text(0, 0, '260958'),
 Text(0, 0, '261530'),
 Text(0, 0, '261608'),
 Text(0, 0, '262138'),
 Text(0, 0, '262760'),
 Text(0, 0, '262812'),
 Text(0, 0, '262862'),
 Text(0, 0, '263414'),
 Text(0, 0, '263500'),
 Text(0, 0, '263510'),
 Text(0, 0, '263614'),
 Text(0, 0, '263882'),
 Text(0, 0, '264025'),
 Text(0, 0, '264111'),
 Text(0, 0, '264366'),
 Text(0, 0, '264659'),
 Text(0, 0, '264928'),
 Text(0, 0, '265109'),
 Text(0, 0, '265152'),
 Text(0, 0, '265278'),
 Text(0, 0, '265525'),
 Text(0, 0, '265832'),
 Text(0, 0, '266210'),
 Text(0, 0, '266878'),
 Text(0, 0, '266921'),
 Text(0, 0, '267593'),
 Text(0, 0, '267955'),
 Text(0, 0, '267959'),
 Text(0, 0, '268014'),
 Text(0, 0, '268419'),
 Text(0, 0, '268961'),
 Text(0, 0, '269710'),
 Text(0, 0, '270064'),
 Text(0, 0, '270404'),
 Text(0, 0, '271073'),
 Text(0, 0, '271527'),
 Text(0, 0, '271799'),
 Text(0, 0, '272006'),
 Text(0, 0, '272730'),
 Text(0, 0, '272826'),
 Text(0, 0, '273174'),
 Text(0, 0, '274296'),
 Text(0, 0, '274333'),
 Text(0, 0, '274557'),
 Text(0, 0, '274583'),
 Text(0, 0, '274702'),
 Text(0, 0, '274782'),
 Text(0, 0, '274910'),
 Text(0, 0, '275459'),
 Text(0, 0, '275563'),
 Text(0, 0, '275578'),
 Text(0, 0, '275582'),
 Text(0, 0, '275744'),
 Text(0, 0, '276042'),
 Text(0, 0, '276207'),
 Text(0, 0, '276291'),
 Text(0, 0, '277379'),
 Text(0, 0, '277394'),
 Text(0, 0, '277747'),
 Text(0, 0, '278393'),
 Text(0, 0, '278576'),
 Text(0, 0, '278624'),
 Text(0, 0, '278713'),
 Text(0, 0, '279067'),
 Text(0, 0, '279078'),
 Text(0, 0, '279797'),
 Text(0, 0, '279845'),
 Text(0, 0, '279989'),
 Text(0, 0, '280693'),
 Text(0, 0, '280830'),
 Text(0, 0, '280883'),
 Text(0, 0, '281229'),
 Text(0, 0, '281764'),
 Text(0, 0, '282315'),
 Text(0, 0, '282655'),
 Text(0, 0, '282927'),
 Text(0, 0, '283116'),
 Text(0, 0, '283215'),
 Text(0, 0, '283395'),
 Text(0, 0, '283604'),
 Text(0, 0, '283636'),
 Text(0, 0, '283944'),
 Text(0, 0, '284199'),
 Text(0, 0, '284224'),
 Text(0, 0, '285637'),
 Text(0, 0, '286313'),
 Text(0, 0, '287122'),
 Text(0, 0, '287348'),
 Text(0, 0, '287634'),
 Text(0, 0, '287733'),
 Text(0, 0, '288031'),
 Text(0, 0, '288711'),
 Text(0, 0, '288972'),
 Text(0, 0, '289135'),
 Text(0, 0, '289271'),
 Text(0, 0, '289653'),
 Text(0, 0, '289823'),
 Text(0, 0, '290055'),
 Text(0, 0, '290094'),
 Text(0, 0, '290317'),