<a href="https://colab.research.google.com/github/1rdas/AirBnB-Data-Analysis/blob/main/AirBnB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [62]:
import pandas as pd
import numpy as np

In [98]:
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
%matplotlib inline
import seaborn as sns

In [63]:
file_path = '/content/drive/MyDrive/AlmaBetter/Python/AirBnB Bookings Analysis/Airbnb NYC 2019.csv'
bnb_df = pd.read_csv(file_path)

*

In [64]:
bnb_df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

**Categorical unique values :**

In [66]:
bnb_df['neighbourhood_group'].unique()

array(['Brooklyn', 'Manhattan', 'Queens', 'Staten Island', 'Bronx'],
      dtype=object)

In [67]:
bnb_df.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

In [70]:
bnb_df['neighbourhood'].value_counts()

Williamsburg          3920
Bedford-Stuyvesant    3714
Harlem                2658
Bushwick              2465
Upper West Side       1971
                      ...
Fort Wadsworth           1
New Dorp                 1
Rossville                1
Richmondtown             1
Willowbrook              1
Name: neighbourhood, Length: 221, dtype: int64

In [71]:
len(bnb_df['neighbourhood'].unique())

221

In [72]:
bnb_df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [74]:
bnb_df['room_type'].unique()

array(['Private room', 'Entire home/apt', 'Shared room'], dtype=object)

**Top 10 hosts in the df**

In [87]:
top_host_df = bnb_df['host_id'].value_counts()

In [89]:
top_host_df.head(10)

219517861    327
107434423    232
30283594     121
137358866    103
12243051      96
16098958      96
61391963      91
22541573      87
200380610     65
7503643       52
Name: host_id, dtype: int64

In [90]:
top_hosts = pd.DataFrame(top_host_df)

In [92]:
top_hosts.reset_index(inplace=True)

In [96]:
top_hosts.rename(columns={'index':'host_id','host_id':'hosting_counts'}, inplace=True)

In [97]:
top_hosts.head(10)

     host_id  hosting_counts
0  219517861             327
1  107434423             232
2   30283594             121
3  137358866             103
4   12243051              96
5   16098958              96
6   61391963              91
7   22541573              87
8  200380610              65
9    7503643              52

**Visualization**

In [ ]:
host_count = sns.barplot(x='host_id',y='hosting_counts', data=top_hosts, palette='Blues_d')
host_count.set_title('Top Hosts vs their listings')
host_count.set_xlabel('HOST ID')
host_count.set_ylabel('HOSTING COUNTS')

Text(0, 0.5, 'HOSTING COUNTS')

In [ ]:
host_count